/*透明度动画*/

.theme-black .animate-opacity {
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease;
}


/*背景颜色宽度变化动画*/

.theme-black .background-color-width-change,
.theme-black .animate-bg-color-width {
  -webkit-transition: background-color .3s, color .3s, width .3s;
  transition: background-color .3s, color .3s, width .3s;
}

.theme-black .iconfont {
  background-image: none;
}

.html-bg-blue {
  background: #EEEEEE;
}

.theme-black .nav {
  width: 670px;
}

.theme-black .nav .nav-list {
  overflow: hidden;
  height: 70px;
  float: left;
}

.theme-black .tab-ul .tab-li a {
  color: #999;
}

.theme-black .design-canvas-wrap {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.theme-black input,
.theme-black textarea {
  font-family: "Microsoft YaHei", "Helvetica", Helvetica, arial;
  border: 1px solid $formBorder;
}

.theme-black {
  .text,
  .select {
    height: $formHeight;
    text-indent: 8px;
    line-height: $formHeight;
  }
}

.theme-black .wdm_cat .item-active a {
  color: rgba(255, 255, 255, .9);
  background: #ff4942;
}

.theme-black .wdm_login_tag li {
  list-style: none;
}

.theme-black .manage-home-nav {
  background-color: #fff;
}

.theme-black .top_bar a {
  color: #888;
}

.theme-black .small .login_flow dl.item-active dt {
  border-left: 113px solid transparent;
  border-right: 113px solid transparent;
}

.theme-black .login_flow dl.item-active dt {
  border-left: 136px solid transparent;
  border-right: 136px solid transparent;
  border-top: 17px solid #ff4942;
  -webkit-animation-name: flow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.theme-black .login_flow dl.item-active dd {
  background: #ff4942;
}

.theme-black .login_flow dl.item-active span {
  color: #000;
}

.theme-black .login_flow dl.current dt,
.theme-black .login_flow dl.item-active dt {
  -webkit-animation-name: theme-black-flow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.theme-black .login_flow dl:hover dt {
  -webkit-animation-name: theme-black-flow;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.theme-black .manage-list-nav {
  background-color: #fff;
  padding: 11px 10px 0px 20px;
  border-bottom: none;
}

.theme-black .manage-list-nav .wdm_cat {
  padding-left: 0;
}

.theme-black .wdm_add span:before {
  content: '';
}

.theme-black .wdm_login_tag a {
  display: inline-block;
}

.theme-black .tab-ul-text .item-active a {
  background: transparent;
  color: #ff4942;
}

.theme-black .wdm_login_tag .tab-ul-text .tab-li {
  padding: 0;
  height: inherit;
  line-height: inherit;
}

.theme-black .wdm_login_tag .item-active span:before {
  content: "\e60b";
  font-size: 22px;
}

.theme-black .wdm_login_tag {
  height: auto;
  line-height: normal;
  border-bottom: none;
}

.theme-black .manage-home-nav .tab-ul {
  height: 68px;
  line-height: 68px;
  border-bottom: 1px dotted #ddd;
  padding: 0 10px;
}

.theme-black .manage-list-nav .tab-ul {
  height: 31px;
  line-height: 31px;
  border-bottom: none;
}

.theme-black .manage-list-nav a {
  height: 20px;
  line-height: 20px;
  padding: 0;
}

.theme-black .manage-list-nav .tab-ul-text .tab-li {
  padding: 0 15px;
}

.theme-black .tab-ul-text .tab-li span {
  vertical-align: middle;
  width: 26px;
  display: inline-block
}

.theme-black .wdm_input {
  line-height: 24px;
}

.theme-black .wdm_login,
.theme-black .manage-other {
  width: 1200px;
  padding: 0;
}

.theme-black .manage-other {
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  width: 1160px;
}

.theme-black .manage-list-search {
  right: 10px;
}

.theme-black .case-list {
  background-color: #EEEEEE;
  overflow: hidden;
  padding-top: 15px;
}


/*传单管理列表*/

.theme-black .square-scene * {
  box-sizing: border-box;
}

.theme-black .square-scene li {
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  color: #A9A9A9;
  background-color: #fff;
  border-radius: 3px;
  width: 220px;
  height: 280px;
  overflow: hidden;
  float: left;
  display: inline;
  margin-bottom: 20px;
  animation-delay: 0ms;
  -webkit-animation-delay: 0ms;
}

.theme-black .square-scene li .image {
  width: 230px;
  height: 210px;
  overflow: hidden;
}

.theme-black .square-scene li .image .front {
  height: 230px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.theme-black .square-scene li .overlay {
  width: 100%;
  height: 230px;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  z-index: 1;
  top: 0;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, transform 200ms ease;
}

.theme-black .square-scene li.hover .overlay {
  opacity: 1;
  height: 230px;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.theme-black .square-scene li .overlay .edit .edit-same {
  display: inline-block;
  margin-top: 48px;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
}

.theme-black .square-scene li .overlay .edit .edit-same em {
  display: block;
  font-size: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .2);
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

.theme-black .tab-box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.theme-black .wdm_login_tag .case-list span:before {
  content: '';
}

.theme-black .square-scene li .project-info {
  background-color: #fff;
  box-sizing: border-box;
  position: absolute;
  height: 80px;
  width: 100%;
  text-align: center;
  z-index: 1;
  padding: 0;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
}

.theme-black .square-scene li.hover .project-info {
  height: 80px;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.theme-black .ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.theme-black .square-scene li .project-info p {
  padding: 10px;
  font-size: 14px;
}

.theme-black .square-scene li .project-info .show-count {
  color: #a3afb7;
  padding: 0;
  cursor: pointer;
}


/*底部按钮*/

.theme-black .square-scene li .buttons {
  position: absolute;
  left: 0;
  bottom: -8px;
  z-index: 2;
  opacity: 0;
  width: 100%;
  padding: 0 10px;
  -webkit-transition: -webkit-transform 200ms ease, opacity 200ms ease;
  -ms-transition: -webkit-transform 200ms ease, opacity 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease;
}

.theme-black .square-scene li.hover .buttons {
  opacity: 1;
  bottom: -8px;
  -webkit-transform: translateY(28px);
  -ms-transform: translateY(28px);
  transform: translateY(28px);
}

.theme-black .square-scene .buttons .icon-erweima {
  cursor: pointer;
}

.theme-black .square-scene li .buttons .set .iconfont em {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 5px;
  color: #76838F;
  cursor: pointer;
}

.theme-black .square-scene li .project-info .show-count em.eqf-eye {
  transform: scale(.87);
}

.theme-black .square-scene .set {
  float: right;
}

.theme-black .square-scene .button {
  font-size: 12px;
  width: 30px;
  height: 30px;
  display: inline-block;
  overflow: hidden;
}

.theme-black .square-scene .set a {
  border: 1px solid #ccd5db;
  border-radius: 3px;
  text-align: left;
  cursor: pointer;
}

.theme-black .square-scene .button em {
  line-height: 26px;
}

.theme-black .square-scene .set a em {
  padding: 0px 6px 0 8px;
  color: #76838F;
  font-size: 14px;
}

.theme-black .square-scene .set a span {
  margin-right: 10px;
  color: #fff;
}

.theme-black .square-scene li .buttons .erweima {
  float: left;
  background-color: #f0f3f4;
  border-radius: 3px;
  color: #76838f;
}

.theme-black .square-scene li .buttons .erweima.button {
  font-size: 18px!important;
}

.theme-black .square-scene li .buttons .erweima.button em {
  line-height: 30px;
}

.theme-black .square-scene li .overlay .edit .edit-same em:hover {
  background-color: #08a1ef;
  border-color: #08a1ef;
}

.theme-black .set a:hover {
  background-color: #08a1ef;
  color: #fff;
  border-color: #08a1ef;
  width: 70px;
}

.theme-black .square-scene .set a:hover em {
  color: #fff;
}

.theme-black .set a.delete:hover {
  background-color: #ff5448;
  border-color: #ff5448;
}

.theme-black .set a.copy:hover {
  background-color: #46BB30;
  border-color: #46BB30;
}

.theme-black .set a.publish:hover {
  background-color: #14A8F6;
  border-color: #14A8F6;
}

.theme-black .show-count a {
  color: #A9A9A9;
}

.theme-black .show-count-span {
  vertical-align: top;
  display: inline-block;
  height: 20px;
  line-height: 22px;
  margin-right: 0px;
}

.theme-black .show-count-em {
  border-right: 1px solid #EBEBEB;
  padding-right: 8px;
  font-style: normal;
  padding-left: 2px;
}

.theme-black .qr-code {
  position: absolute;
  top: 0;
  width: 220px;
  left: 0;
  z-index: 9999;
}


/* 查看更多*/

.theme-black .wrap-load-more {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.theme-black .wrap-load-more {
  cursor: pointer;
  background: #fff;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 3px rgba(195, 195, 195, 0.35);
  -moz-box-shadow: 0 0 3px rgba(195, 195, 195, 0.35);
  box-shadow: 0 0 3px rgba(195, 195, 195, 0.35);
}

.theme-black .login_flow dl:hover dd {
  -webkit-transition: background-color .2s, color .2s, width .2s;
  -moz-transition: background-color .2s, color .2s, width .2s;
  -ms-transition: background-color .2s, color .2s, width .2s;
  transition: background-color .2s, color .2s, width .2s;
}

.theme-black .wdm {
  min-height: 800px;
  overflow: hidden;
  background-color: transparent;
}

@-webkit-keyframes fade-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(.2);
    transform: scale(.2)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-o-keyframes fade-scale {
  0% {
    opacity: 0;
    -o-transform: scale(.2);
    transform: scale(.2)
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes fade-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(.2);
    -o-transform: scale(.2);
    transform: scale(.2)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
  }
}

.theme-black .animation-zoom {
  -webkit-animation: fade-scale 250ms backwards;
  animation: fade-scale 250ms backwards
}

body {
  background-color: #eee;
}

#mobile-main {
  min-height: 1500px;
}

#mobile-foot {
  position: relative;
  z-index: 2000;
}

#design-template.theme-black {
  padding: 0;
}

#design-wx.theme-black input,
#design-wx.theme-black textarea {
  border: 1px solid #ddd;
  color: #999;
}

#design-right.theme-black {
  padding: 0;
}

#design-right.theme-black .control-label {
  background-color: #fff;
}

#mobile-main .theme-black .mobile-main-inner {
  width: auto;
}

.theme-black .tab-ul-line-red .tab-ul-line {
  height: 51px;
  background-color: #ff5241 !important;
  line-height: 51px;
  text-align: center;
}

.theme-black .tab-ul-line-red .tab-ul-line .tab-li {
  font-size: 16px;
  color: #F4BCB6;
  height: 51px;
  line-height: 51px;
  padding: 0 10px;
  display: inline-block;
}

.theme-black .tab-ul-line-red .tab-ul-line .tab-li a {
  font-size: 16px;
  color: #F4BCB6;
}

.theme-black .tab-ul-line-red .tab-ul-line .tab-li.item-active a,
.theme-black .tab-ul-line .tab-li.item-active {
  color: #fff;
}

.theme-black .tab-ul-line-red .slideBar .slideBarTip {
  width: 82px;
  height: 3px;
  top: -52px;
  background: #FFFFFF;
}

.theme-black .tab-ul-line-red .slideBar {
  background: none;
  border-top: none;
}

.theme-black .tab-ul-text .item-active {
  color: #ff4942;
}

.theme-black #config-nav {
  padding-top: 12px;
  padding-left: 16px;
}

.theme-black #type-nav .tab-ul {
  padding-top: 5px;
}

.theme-black #type-nav .tab-li a {
  font-size: 16px;
}

.theme-black .design-sharepic-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.theme-black .control-group-black {
  border-bottom: 1px solid #dfdfdf;
  overflow: hidden;
  padding: 14px 0 14px 0;
  line-height: 28px;
}

.theme-black .control-label-black {
  font-size: 18px;
  font-weight: 500;
  float: left;
}

.theme-black .controls-black {
  float: left;
}

.theme-black #config-global {
  padding: 10px 20px;
}

.theme-black .animate.form_login {
  z-index: 2500;
}

.theme-black .mask {
  z-index: 2400;
}

.theme-black .wdm_list {
  min-height: 1000px;
}

.theme-black .user img {
  width: 31px;
  height: 31px;
}

.theme-black .login_flow {
  overflow: hidden;
}

.theme-black .login_flow .tab-ul,
.theme-black .login_flow .tab-li {
  padding: 0;
  height: 100px;
}

.theme-black .login_flow .tab-ul {
  background-color: transparent;
  margin-left: 0;
}

.theme-black .login_flow .tab-ul-text .tab-li {
  margin: 0 0 0 37px;
  width: 272px;
}

.theme-black .login_flow .tab-ul-text .tab-li span {
  width: auto;
}

.theme-black .login_flow .tab-ul-text .toggle {
  overflow: hidden;
  height: 100%;
}

.theme-black ._item_el_manageNav_1 {
  margin-left: 0 !important;
}

#mobile-head {
  height: 99px;
  position: relative;
  z-index: 2000;
  width: 100%;
}

#head-fix {
  right: 0;
}

.theme-black .wdm_item_data {
  position: relative;
}

.theme-black .wdm_item_data .icon-erweima {
  position: absolute;
  right: 0;
  top: 1px;
  z-index: 2000;
  background-color: #fff;
  font-size: 20px;
  color: #B6B6B6;
  cursor: pointer;
  line-height: 30px;
}

.theme-black .wdm_item_data .icon-erweima:hover {
  color: #FF4942;
}

.no-result {
  padding: 10px;
}
