<style>
    .buy .hr{padding-bottom: 20px}
    .buy h2{
        font-family: "Microsoft YaHei";
        font-size: 20px;
        color:#666;
        font-weight: normal;
        padding:  30px 0 20px 0;
        text-align: center;
    }
    .buy  .table-bordered {
        border: 1px solid #e6e6e6;
    }
    .buy  .table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .table .th{
        color: #fff;
        font-size: 18px;
        font-family: "Microsoft YaHei";
        padding: 7px 16px;background-color: #08a1ef;
    }
    .table .th3 {
        width: 140px;    background-color: #7171ef;
    }
    .table .th4 {
        width: 140px;    background-color: #44cb83
    }
    .table td {
        height: 30px;
        text-align: center;
        padding: 1px 16px;
        border: 0 !important;
        color: #777;   line-height: 1.4;
        vertical-align: middle;
        font-size: 14px;
        font-family: "Microsoft YaHei";
    }
    .table .td1 {
        background-color: #f2f2f2; width: 90px;
    }

    .table .td2 {
         width: 310px;
    }
    .table .tdFF {
        background-color: #fff;
    }
    .table .tdF7 {
        background-color: #f7f7f7;
    }
    .table .tdF2 {
        background-color: #f2f2f2;
    }
    .buy p{
        padding: 20px;
        font-size: 16px;
        color: #666;    text-align: center;
        font-family: "Microsoft YaHei",Tahoma,Helvetica,Arial,sans-serif;
    }
    .buy a{text-decoration: none}
       .mobile-main-inner {
    margin: 20px auto;
    height: auto;
    width: 1120px;
    background: #fff;
    min-height: 800px;
    padding: 10px 40px;
    overflow: hidden;
}
.float-left {
    float: left;
}
</style>

<div class="mobile-main-inner buy">
    <h2>机汇网会员服务</h2>
    <p>
        机汇网微传单按1000元/年收取服务费，不限传单数量，使用所有功能。【大数据】可以让你事半功倍！
        <a href="javascript:;" class="username-buy">马上购买！</a>
    </p>
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td colspan="2" class="th1 th">主功能</td>
            <td class="th3 th">免费会员</td>
            <td class="th4 th">付费会员</td>
        </tr>
        <tr>
            <td class="td1 tdF2">传单数量</td>
            <td class="tdF7"></td>
            <td class="td1">3</td>
            <td class="td1 tdF7">无限</td>
        </tr>
        <tr>
            <td class="td1 tdF7">传单制作</td>
            <td></td>
            <td class="td1 tdF7">有</td>
            <td class="td1 tdFF">有</td>
        </tr>
        <tr>
            <td rowspan="10" class="td1 tdF2">推广方式</td>
            <td class="td2  tdF7">微信</td>
            <td rowspan="3" class="td1 tdF2">有</td>
            <td rowspan="3" class="td1 tdF7">有</td>
        </tr>
        <tr>
            <td class="td2  tdF7">微博</td>
        </tr>
        <tr>
            <td class="td2  tdF7">QQ</td>
        </tr>
        <tr>
            <td class="td2 ">邮件</td>
            <td rowspan="7" class="td1 tdF7">有条件使用</td>
            <td rowspan="7" class="td1 tdFF">有</td>
        </tr>
        <tr>
            <td class="td2 ">短信</td>
        </tr>
        <tr>
            <td class="td2 ">二维码</td>
        </tr>
        <tr>
            <td class="td2 ">个人推广</td>
        </tr>
        <tr>
            <td class="td2 ">组织推广</td>
        </tr>
        <tr>
            <td class="td2 ">互动推广</td>
        </tr>
        <tr>
            <td class="td2 ">找人外包</td>
        </tr>


        <tr>
            <td class="td1 tdF7">客户管理</td>
            <td class="tdF7"></td>
            <td class="td1 tdF2">有</td>
            <td class="td1 tdF7">有</td>
        </tr>
        <tr>
            <td rowspan="10" class="td1 tdF2">浏览量分析</td>
            <td class="td2 ">浏览量分析</td>
            <td rowspan="10" class="td1 tdF7">无</td>
            <td rowspan="10" class="td1 tdFF">有</td>
        </tr>
        <tr>
            <td class="td2 ">浏览时段分析</td>
        </tr>
        <tr>
            <td class="td2 ">个人组织浏览排行</td>
        </tr>
        <tr>
            <td class="td2 ">报名增长分析</td>
        </tr>
        <tr>
            <td class="td2 ">报名时段分析</td>
        </tr>
        <tr>
            <td class="td2 ">个人组织报名数排行</td>
        </tr>
        <tr>
            <td class="td2 ">区域分析</td>
        </tr>
        <tr>
            <td class="td2 ">手机类型分析</td>
        </tr>
        <tr>
            <td class="td2 ">网络状态</td>
        </tr>
        <tr>
            <td class="td2 ">浏览数和报名数时间段对比</td>
        </tr>
        </tbody>
    </table>
    <p>
        机汇网微传单按1000元/年收取服务费，不限传单数量，使用所有功能。【大数据】可以让你事半功倍！
        <a href="javascript:;" class="username-buy">马上购买！</a>
    </p>
    <div class="hr"></div>
</div>