<div style="background:#fff;padding:20px;">
  <input type="hidden" id="model-item_check" value="value_b">
  <div id="ui-item-check-normal" class="clearfix" style="margin-bottom: 20px;">
  </div>
  <div id="ui-item-check-append" class="clearfix" style="margin-bottom: 20px;">
  </div>
  <div id="ui-item-check-btn" class="clearfix" style="margin-bottom: 20px;">
  </div>
  <div id="ui-item-check-radio" class="clearfix" style="margin-bottom: 20px;">
  </div>
   <div id="ui-item-check-checkbox" class="clearfix" style="margin-bottom: 20px;">
  </div>
  <div class="ui-item-check-result">{{{itemCheckResult}}}</div>
</div>
